
services:
  dockdns:
    image: ghcr.io/tarow/dockdns:main
    restart: unless-stopped
    environment:
      - HOST_HOSTNAME=myserver1  # Set to the actual hostname of this server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../config.yaml:/app/config.yaml
  