package template

templ Base() {
	<!DOCTYPE html>
	<html data-theme="default">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>DockDNS</title>
			<script src="./static/htmx.js"></script>
			<script src="./static/tailwind.js"></script>
		</head>
		<body id="content">
			{ children... }
		</body>
	</html>
}
